:root {
	--activePgWidth: 83.5%;
	--mainColor: #f5f5f5;
	--subColor: #bdbdbd;
	--darkColor: #8d8d8d;
	--textClr: #30336b;
}
/* 타이틀부분 수정해서 작동해야할듯 */

body {
	padding: 0;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden; 
	position: relative;
	display: flex;
	align-items: stretch;
	justify-content: center;
}
/* 오버플로우 y는 변경해야할수도.. */

.titles {
	border-right: 0.2rem solid #737373;
	background-color: var(--mainColor);
	display: flex;
	
	height: 100vh;
}


/* 페이지 영역 */
div.active {
	width: calc(var(--activePgWidth) + 5vw);
}

div.inactive {
	display: none;
}

.page {
	background-color: #d6d6d6;
	padding: 2.5%;
}

.pagetext1, .pagetext2 {
	background-color: var(--subColor);
	padding: 1.5%;
}

/* 타이틀 영역 */
.pageTitleDiv {
	margin: 0;
	padding: 0;
	background-color: var(--darkColor);

	transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
	width: 5vw;
}

.pageTitleDiv:hover {
	width: 10vw;
}

.pagetitle {
	width: 100%;
	height: 100%;
}

/* a태그 부분 */
p a {
	display: block;
	color: #535c68;
	font-size: 20px;
	height: 100%;

}

p a:hover {
	font-size: 22px;
	font-style: italic;
	text-shadow: 0 0 24px;
	transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
}
p a:link {
	text-decoration: none;
}



/* 크기변경 */
