:root {
	--activePageWidth: 83.5%;
	--titleWidth: calc(1-(var(--activePageWidth))/4);
	--mainColor: #f5f5f5;
	--subColor: #bdbdbd;
	--darkColor: #8d8d8d;

}

body {
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: flex;    
	align-items: stretch;
	justify-content: center;
}

.titles {
	margin: 0;
	border: 0.1rem dotted;
	background-color: var(--mainColor);
	display: flex;
	height: 100vh;
}

.active {
	
}

.inactive {
	display:none;
}

/* 페이지 영역 */
.page {
	background-color: #d6d6d6;
	padding: 2.5%;
}

.pagetext1, .pagetext2 {
	background-color: var(--subColor);
	padding: 1.5%;
}

/* 타이틀 영역 */
.pageTitleDiv {
	padding: 0;
	margin: 0;
}
.pagetitle {
	background-color: var(--darkColor);
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
	
	height: 100%;
	width: 5vw;
}

.pagetitle:hover {
	/* 1. 타이틀 길이 좌측으로 살짝증가 시키기
	2. 그만큼 페이지 영역 축소시키기 ease in out
	3. 마우스 모양변경 */
	cursor: grab;
	width: 10vw;
	
}

.pagetitle1 {

}

.pagetitle2 {

}

.pagetitle3 {

}
.pagetitle4 {

}


/* 크기변경 */
