{% extends "base.html" %} 

{% block head %} 
	<title>board</title>
{% endblock %}

{% block body %}
<div class="card-wrapper">
	<div class="card">
    <form method="post" class="post-form my-3">
			{{ form.csrf_token }}

			<div class="form-group">
					<label for="subject">제목</label>
					<input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or '' }}">
			</div>
			<div class="form-group">
					<label for="name">작성자</label>
					<input type="text" class="form-control" name="name" id="name" value="{{ form.name.data or '' }}">
			</div>
			<div class="form-group">
					<label for="content">내용</label>
					<textarea class="form-control" name="content" id="content">
					</textarea>
			</div>
					
			<div class="d-grid gap-2 d-md-block">
				<input 
					type="submit" class="btn  btn-primary" value="작성완료" 
				>
				<input 
					type="button" class="btn btn-outline-secondary" value="돌아가기" 
					onClick="location.href='{{ url_for('board.articleList') }}'"
				>
			</div>

			{% for field, errors in form.errors.items() %}
        <div class="alert alert-warning" role="alert">				
          <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
      {% endfor %}
			
		</form>
		
	</div>	
</div>
​{% endblock %}